app/cache
app/logs
web/bundles
web/uploads
web/images
web/sitemap*.xml
app/config/parameters.yml
app/SymfonyRequirements.php
!vendor
vendor/*
!js/vendor
.idea
nbproject
composer.phar
.DS_Store
build/
*.php~
*.orig
*.php.*
*.swp
*.swo
*.swn
web/css
web/js
web/data
dump.rdb
*.spf
web/temp/*
